<div class="center-content">
	<h1>Editar Paciente</h1>
	<h1><%= @patient.entry_date %></h1>
	<%= render 'form', patient: @patient %>

	<%= link_to 'Mostrar', @patient %> |
	<%= link_to 'Voltar', patients_path %>	
</div>


